.run-container {
  height: 70px;

  background-color: #111827;

  display: flex;
  justify-content: center;
  align-items: center;

  border-top: 1px solid #374151;
}

.run-container button {
  padding: 12px 24px;

  background-color: #2563eb;

  color: white;

  border: none;

  border-radius: 6px;

  cursor: pointer;

  font-size: 16px;
}

.run-container button:hover {
  background-color: #1d4ed8;
}