.app {
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.main-layout {
  flex: 1;

  display: flex;
}

.editor-section {
  flex: 3;
}

.side-panels {
  flex: 1;

  display: flex;
  flex-direction: column;
}